name: 04 - Using Actions


on: push


jobs: 
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version: '22.x'
            - name: Install Dependency
              run: npm ci
              working-directory: "04-using-actions/react-app"

        # 0. Checkout the code from the repo


        # 1. Install deps for our react application


        # 2. Excute automated test

        